.vscode/*
build/*
devel/*
src/utils_depends/*
.catkin_workspace
*.bag
*.proto
*.pb.h
*.pb.cc
*.proto.bak
pcd_to_pgm
*build*

!Header.proto
!Pose.proto
!Point.proto
!Quaternion.proto
!PoseArray.proto
!SensorObstacle.proto
